In [20]:
import pandas as pd
import numpy as np
import json
import xlrd
import csv

## A. Membuka Data - Xlsx File

In [16]:
file = xlrd.open_workbook('data.xlsx')
sheet = file.sheet_by_index(0) 

x = []
for i in range(sheet.nrows):
    x.append(sheet.row_values(i)) 

data = x[1:]
judul = x[0]
df = pd.DataFrame(data=data, columns=judul)
df

    no  nama      kota
0  1.0  Andi   Jakarta
1  2.0  Budi  Surabaya
2  3.0  Caca   Bandung

## B. Membuka Data - Json File

In [19]:
with open('data.json', 'r') as file:
    x = json.load(file)

df = pd.DataFrame(x)
df

   no  nama     kota
0   1  Andi  Jakarta
1   2  Budi    Yogya
2   3  Caca    Depok

## C. Membuka Data - CSV File

In [23]:
with open('data.csv', 'r') as x:
    y = csv.reader(x)
    data = list(y)

judul = data[0]
data = data[1:]

df = pd.DataFrame(data=data, columns=judul)
df

  no  nama     kota
0  1  Andi  Jakarta
1  2  Budi  Bandung
2  3  Caca  Jakarta