In [1]:
import pandas as pd 
from sqlalchemy import create_engine

In [2]:

engine = create_engine(
    "mysql+mysqlconnector://root:kahfi2008@localhost/world?host=localhost?port=3306")

query = "select * from city"
conn = engine.connect()
results = conn.execute(query).fetchall()
df1 = pd.DataFrame(results)
df1.columns = results[0].keys()
df1

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [3]:
engine = create_engine(
    "mysql+mysqlconnector://root:kahfi2008@localhost/world?host=localhost?port=3306")

query = "select * from city"
conn = engine.connect()
x = pd.read_sql('world.sql', conn)
x

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'world.sql' at line 1
[SQL: world.sql]
(Background on this error at: http://sqlalche.me/e/f405)